---
import HeroSection from '../components/HeroSection.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Gèrnoaze.">
	<main class="space-y-30 mb-30">
		<HeroSection/>
	</main>
</Layout>