---
import Container from "./Container.astro"

---

<div class="relative" id="home">
    <div aria-hidden="true" class="absolute inset-0 grid grid-cols-2 -space-x-52 opacity-40 dark:opacity-20">
        <div class="blur-[106px] h-56 bg-gradient-to-br from-primary to-purple-400 dark:from-blue-700"></div>
        <div class="blur-[106px] h-32 bg-gradient-to-r from-cyan-400 to-sky-300 dark:to-indigo-600"></div>
    </div>
    <Container>
        <div class="relative pt-36 ml-auto">
            <div class="lg:w-2/3 text-center mx-auto">
                <h1 class="text-gray-900 dark:text-white font-bold text-5xl md:text-6xl xl:text-7xl">Did you know there are over <span class="text-primary dark:text-white">50</span> ways to say <span class="text-primary dark:text-white">Shrimp</span> in Dutch?</h1>
                <p class="mt-8 text-gray-2000 dark:text-gray-300 text-2xl">Did you also know that most business have at least the same amount of <span class="text-primary dark:text-white">cloud integration opportunities</span> that an <span class="text-primary dark:text-white">integration architect</span> could help to deliver? </p>
                <!--
                <p class="mt-4 text-gray-2000 dark:text-gray-300 text-2xl">My name is <span class="text-primary dark:text-white">Sitinan</span> and I'm an integration architect currently based in Brussels. I enjoy <span class="text-primary dark:text-white">solving</span> problems, <span class="text-primary dark:text-white">delivering</span> challenging projects and <span class="text-primary dark:text-white">celebrating</span> go-lives with <span class="text-primary dark:text-white">awesome people</span>!</p>
                 -->
                <div class="mt-8 flex flex-wrap justify-center gap-y-4 gap-x-6">
                    <a
                      href="mailto:sitinan@gernoaze.be"
                      class="relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:border before:border-transparent before:bg-primary/10 before:bg-gradient-to-b before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 dark:before:border-gray-700 dark:before:bg-gray-800 sm:w-max"
                    >
                      <span
                        class="relative text-base font-semibold text-primary dark:text-white">Get in touch</span>
                    </a>
                </div>
                
        </div>
    </Container>
</div>